<!DOCTYPE html>
{%extends 'basic_base.html'%}
{%load staticfiles%}
{% block title %}{{title}}{% endblock %}

  {%block content%}

<!-- Slider -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block img-fluid" src="{%static 'images/clean_energy_1.jpg'%}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <div class='sliderBasic'>
            <h3>Clean Energy</h3>
            <p>Lower the costs of mitigating global warming</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="{%static 'images/powerwall_1.jpg'%}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <div class='sliderBasic' style='background-color:#22264b'>
            <h3>Battery</h3>
            <p>Advantages of Battery</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="{%static 'images/solar_roof_1.jpg'%}" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <div class="sliderBasic">
            <h3>Solar Panel</h3>
            <p>Advantages of Solar Panel</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!-- Information section -->
  <div class="container-fluid fademe" style='opacity:0; padding-left:100px; padding-top:100px; padding-bottom:100px;'>
    <div class="row">
      <div class="col-sm-6">
        <h2>About Clean Energy</h2>
        <p>It will increase countries’ energy security through reliance on an indigenous, inexhaustible and mostly
          import-independent resource, enhance sustainability, reduce pollution, lower the costs of mitigating global warming,
          and keep fossil fuel prices lower than otherwise. These advantages are global.</p>
        <button class="btn btn-default btn-lg">Learn More</button>
      </div>
      <div class="col-sm-6">
        <span class="glyphicon glyphicon-align-right logo" aria-hidden="true">
          <img class="d-block img-fluid" src="{%static 'images/powerwall_1.jpg'%}" alt="First slide">
        </span>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-dark fademe" style='opacity:0; color:#e6e9ef; padding-top:100px; padding-bottom:100px;'>
    <div class="row">
      <div class="col-sm-6">
        <img class="d-block img-fluid" src="{%static 'images/powerwall_1.jpg'%}" alt="Cannot Display Images">
      </div>
      <div class="col-sm-6">
        <h2>About Solar Panel</h2>
        <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
        <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
        <button class="btn btn-default btn-lg">Learn More</button>
      </div>
    </div>
  </div>

  <div class="container-fluid fademe" style='opacity:0; background-color: #e6eaf2; padding-left:100px; padding-top:100px; padding-bottom:100px;'>
    <div class="row">
      <div class="col-sm-6">
        <h2>About Battery</h2>
        <p>lo</p>
        <button class="btn btn-primary btn-lg">Learn More</button>
      </div>
      <div class="col-sm-6">
        <img class="d-block img-fluid" src="{%static 'images/powerwall_1.jpg'%}" alt="First slide">
      </div>
    </div>
  </div>
<!-- Services -->
  <div class="container-fluid text-center fademe" style='opacity:0; padding:50px;'>
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row">
      <div class="col-sm-4" style='border:2px black solid; padding:0px'>
        <span class="glyphicon glyphicon-off"></span>
        <h4>Solar Planner</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4" style='border:2px black solid; padding:0px'>
        <span class="glyphicon glyphicon-heart"></span>
        <h4>Solar Forecast</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4" style='border:2px black solid; padding:0px'>
        <span class="glyphicon glyphicon-lock"></span>
        <h4>Monitoring</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      </div>
      <br><br>
    <div class="row">
      <div class="col-sm-4" style='margin:auto;'>
        <span class="glyphicon glyphicon-leaf"></span>
        <h4>API</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
    </div>
  </div>

<!-- Out partners -->
  <div class="container-fluid text-center fademe" style='opacity:0; padding:50px; margin-bottom:50px; background-color: #e6eaf2;'>
    <h2>Our partners</h2>
    <h4>Including vendors and maintenance service supplier</h4>
    <div class="row text-center" style='margin-top:70px; margin-left:50px; margin-right:50px;'>
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <img src="paris.jpg" alt="Schneider">
            <div class="card-block">
              <p><strong>Schneider</strong></p>
              <p>Yes, we built Paris</p>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <img src="newyork.jpg" alt="Precise">
          <div class="card-block">
            <p><strong>Schneider</strong></p>
            <p>Yes, we built Paris</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <img src="sanfran.jpg" alt="General Electric">
              <div class="card-block">
                <p><strong>Schneider</strong></p>
                <p>Yes, we built Paris</p>
              </div>
          </div>
        </div>
      </div>
    </div>

<!-- Contact us -->
  <div class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT US</h2>
    <div class="row">
      <div class="col-sm-5" style='padding-left: 6%;'>
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
        <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
        <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
      </div>

      <!-- Receive Contact Form -->
      <div class="col-sm-7">
        <form class="" action="index.html" method="post">
            <div class="row">
              <div class="col-sm-6 form-group">
                <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
              </div>
              <div class="col-sm-6 form-group">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
              </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
              <div class="col-sm-12 form-group">
                <button class="btn btn-default pull-right" type="submit">Send</button>
              </div>
            </div>
        </form>
      </div>

    </div>
  </div>

  <footer class="container-fluid text-center">
    <a href="{% url 'landing_page:index'%}" title="To Top">
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      <p>Top</p>
    </a>
  </footer>
  <!-- Add google map -->
  <!-- Add Google Maps -->
<!-- <div id="googleMap" style="height:400px;width:100%;"></div> -->
  {%endblock%}
