<!DOCTYPE html>
{%load staticfiles%}
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='{%static "css/basic_base.css"%}'>
    <script type="text/javascript" src='{%static "javascript/basic_base.js"%}'></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <style>

      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      .area.above {
        fill: rgb(145,207,96);
      }

      .area.below {
        fill: rgb(252,141,89);
      }

      </style>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav id = 'navWrap' class='navbar sticky-top navbar-fixed-top navbar-expand-lg navbar-dark bg-dark'>
      <a class="navbar-brand" href="#">Brand Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar-right">

          <!-- Home and Brand Logo -->
          <li class="nav-item">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <!-- About Clean Energy -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Energy
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'optimal:optimal_page'%}">Sizing Your Solar Panel</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Solar Power Forecast</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Anomaly Notifier</a>
            </div>
          </li>
          <!-- About Products -->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Solar Planner</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Solar Forecast</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Monitoring</a>
              </div>
            </li>
            <!-- About Solutions -->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Solutions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Solar Planner</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Solar Forecast</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Monitoring</a>
              </div>
            </li>
            <!--  -->
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>

        </ul>

        <div class="navbar-brand">
          <button class="btn btn-outline-success" type="submit">Sign In</button>
        </div>

      </div>
    </nav>

    {%block content%}
    {%endblock%}
  </body>
  <!-- <script src = 'basic_base.js'></script> -->
</html>
